html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.TopRecession {
    height: 25px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.HeadderWrapper {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    height: 67.6px;
    background-color: white;
}

.HeadderWrapper2 {
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    height: 67.6px;
    background-color: white;
}

.MyName {
    color: white;
    background-color: #4aaaa5;
    border: 15px solid #4aaaa5;
    float: left;
    margin: 0;
    position: absolute;
    bottom: 0;
}

.LinksSet {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)

}

.Contact {
    color: #777777;
    float: right;
    position: relative;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    Text-decoration: none;

}

.Portfolio {
    color: #777777;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    float: right;
    position: relative;
    bottom: 0;
    right: 0;
    Margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.About {
    color: #777777;
    float: right;
    position: relative;
    bottom: 0;
    right: 0;
    Margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    Text-decoration: none;
}

.BackGroundWrapper {
    flex: 1 0 auto;
    overflow: auto;
    border-top: 2px solid #999999;
    background: url(../images/BackGround.png); 
    background-repeat: repeat; 
}


.TextWrapper {
    margin-top:25px;
    margin-bottom: 25px;
    background-color: #fafafa;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    overflow: auto;
}

.TextWrapper2 {
    margin-top:25px;
    margin-bottom: 25px;
    background-color: #fafafa;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    overflow: auto;
}

.AboutMe {
    color: #4aaaa5;
    border: 15px solid #fafafa;
    margin: 0;
    position: relative;
    Top: 0;
}

hr {
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    height:  0px; 
    background-color: #999999;
}

.ProfPic {
    float:left;
    width: 150px;
    margin-top: 17px;
    margin-right: 15px; 
    margin-left: 15px; 
    margin-bottom: 15px;
    vertical-align: text-bottom;
}

.Text {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    line-height: 2;
}

.ContactBox {
    margin:15px;
    margin-bottom:20px;
}

.ContactInfo, .CampoTexto, .CampoMensaje {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

.CampoTexto, .CampoMensaje {
    margin-bottom: 15px;
    width: 100%;
    border-width:1px;
    border-style: solid;
    border-color: #c0c0c0;

}

.CampoMensaje {
    height: 200px;
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
}

#Boton1 {
    background-color: #4aaaa5;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

.Footer {
    flex-shrink: 0;
    clear: both;
    width: 100%;
    bottom: 0;
    height: 40px;
    background-color: #666666;
    border-top: 4px solid #4aaaa5;
} 

.FootLocation {
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 10px;
}

.FooterText {
    bottom: 5px;
    font-size: 12px;
    color: #c6ccc6;
}